In [8]:
import pandas as pd
import os

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', -1)

os.chdir("../data")

file = "df_extracted.csv"

df = pd.read_csv(file, delimiter=';')
df.head()

                                  headline           city        country
0  Zika Outbreak Hits Miami                 Miami          United States
1  Could Zika Reach New York City?          New York City  United States
2  First Case of Zika in Miami Beach        Miami Beach    United States
3  Mystery Virus Spreads in Recife, Brazil  Recife         Brazil
4  Dallas man comes down with case of Zika  Dallas         United States

In [9]:
import geonamescache

gc = geonamescache.GeonamesCache()

#help(gc)
country_with_code = {}
for key,values in gc.get_countries().items():
    country_with_code.__setitem__(key,values['name'])

gc.get_cities_by_name("Los Angeles")
#print(country_with_code)

[{'5368361': {'geonameid': 5368361,
   'name': 'Los Angeles',
   'latitude': 34.05223,
   'longitude': -118.24368,
   'countrycode': 'US',
   'population': 3971883,
   'timezone': 'America/Los_Angeles',
   'admin1code': 'CA'}}]

In [10]:
city_lat_long = {}
df['latitude'] = ""
df['longitude'] = ""
for index, row in df.iterrows():
    if not pd.isnull(row['city']): # To avoind index out of range error for NaN values99
        city = row['city']
        coordinates = [(values['latitude'],values['longitude']) for key,values in gc.get_cities_by_name(city)[0].items()]
        city_lat_long.update({city:[values['latitude'],values['longitude']] for key,values in gc.get_cities_by_name(city)[0].items()})

#print(city_lat_long)

In [11]:
df['latitude'] = df['city'].map({k:v[0] for k,v in city_lat_long.items()})
df['longitude'] = df['city'].map({k:v[1] for k,v in city_lat_long.items()})
#df['country'] = df['country'].map({v:k for k,v in country_with_code.items()})
#data.dropna(inplace = True) 
headline_data = df.copy()
headline_data['country'] = headline_data['country'].map({v:k for k,v in country_with_code.items()})
nadata = df[headline_data.isnull().any(axis=1)]
nadata.headline

17     Louisiana Zika cases up to 26
48     Spanish Flu Sighted in Antigua
73     Zika case reported in Oton
76     Hillsborough uses innovative trap against Zika 20 minutes ago
88     Maka City Experiences Influenza Outbreak
156    West Nile Virus Outbreak in Saint Johns
234    Malaria Exposure in Sussex
248    Greenwich Establishes Zika Task Force
252    Will West Nile Virus vaccine help Parsons?
270    The Spread of Chikungunya in Davidson has been Confirmed
286    Zika case reported in Los Fresnos
308    More people in Boucau are infected with HIV every year
327    Bronchitis Outbreak in Manhasset
342    Rumors about Influenza Spreading in Dobbs Ferry have been Refuted
352    Outbreak of Zika in Destin
366    More people in Huron are infected with Dengue every year
378    Will Tuberculosis vaccine help Cherry Creek?
379    Gympie Patient in Critical Condition after Contracting Chlamydia
429    Spike of Meningitis Cases in Druid Hills
463    More Patients in Magnolia are Getting Diagnosed with Malaria
482    Rumors about Syphilis spreading in Penal have been refuted
509    More people in Oak Brook are infected with Respiratory Syncytial Virus every year
516    Outbreak of Zika in Hutchins
520    Longwood volunteers spreading Zika awareness
523    Zika symptoms spotted in Quixere
567    Measles Hits Davos
582    Spike of Hepatitis E Cases in Morehead City
585    Outbreak of Zika in Alvorada
598    Schools in Coamo Closed Due to Rhinovirus Outbreak
599    Zika arrives in Dangriga
604    More Patients in Maynard are Getting Diagnosed with Syphilis
628    Zika case reported in Antioquia
630    Chikungunya has not Left Pismo Beach
631    Zika spreads to La Joya
Name: headline, dtype: object

In [12]:
headline_data.dropna(inplace = True) 
#headline_data

In [13]:
headline_data.head()

,headline,city,country,latitude,longitude
0,Zika Outbreak Hits Miami,Miami,US,25.77427,-80.19366
1,Could Zika Reach New York City?,New York City,US,40.71427,-74.00597
2,First Case of Zika in Miami Beach,Miami Beach,US,25.79065,-80.13005
3,"Mystery Virus Spreads in Recife, Brazil",Recife,BR,-8.05389,-34.88111
4,Dallas man comes down with case of Zika,Dallas,US,32.78306,-96.80667

In [14]:
headline_data.groupby('country')['city'].value_counts().sort_values(axis=0, ascending = False)

country  city
US       Miami                   4
         Monroe                  4
ES       Madrid                  4
VE       Barcelona               3
US       New City                3
NG       Ibadan                  2
US       Orange                  2
GB       Edinburgh               2
         London                  2
US       Albany                  2
         Bedford                 2
         Birmingham              2
         Cambridge               2
         Fairfield               2
         Greenville              2
         Hollywood               2
         Jefferson               2
         Melbourne               2
         Norwalk                 2
         San Jose                2
         Rochester               2
TZ       Zanzibar                2
US       Palm Springs            2
LK       Colombo                 2
MX       Cancún                  2
PT       Lisbon                  2
ZA       Richmond                2
         Johannesburg            2
PH       Mandaluyong City        1
         Jaen                    1
RU       Saint Petersburg        1
PY       Pedro Juan Caballero    1
PT       Lagos                   1
PR       Caguas                  1
PK       Hyderabad               1
PH       Zamboanga               1
         Santiago                1
         Rizal                   1
         Quezon City             1
         Quezon                  1
         Davao                   1
         Pasig City              1
         Murcia                  1
         Manila                  1
         Iloilo                  1
         Indang                  1
ZW       Harare                  1
PH       Calumpang               1
         Cebu City               1
NG       Abuja                   1
MY       Petaling Jaya           1
         Miri                    1
         Kuching                 1
         Kuala Lumpur            1
         Kota Kinabalu           1
         Klang                   1
         Johor Bahru             1
MX       Reynosa                 1
         Oaxaca                  1
         Nuevo Laredo            1
         Mexico City             1
         Mexicali                1
         Hidalgo                 1
         Ciudad Acuña            1
MM       Yangon                  1
MY       Sibu                    1
NI       Managua                 1
SA       Mecca                   1
NI       Masaya                  1
PH       Calamba                 1
         Batangas                1
         Bacoor                  1
         Bacolod City            1
         Antipolo                1
PF       Papeete                 1
PE       Yurimaguas              1
         Iquitos                 1
PA       Veracruz                1
         Tocumen                 1
         Panamá                  1
         Las Cumbres             1
OM       Muscat                  1
NZ       Auckland                1
NP       Kathmandu               1
RU       Sochi                   1
TH       Bangkok                 1
SD       Khartoum                1
US       Bella Vista             1
         Arcadia                 1
         Ardmore                 1
         Arlington               1
         Arvada                  1
         Athens                  1
         Atlanta                 1
         Aurora                  1
         Austin                  1
         Avon Lake               1
         Bakersfield             1
         Baltimore               1
         Barstow                 1
         Baton Rouge             1
         Belmont                 1
         Anaheim                 1
         Benton                  1
         Bentonville             1
         Berkeley                1
         Bethesda                1
         Biloxi                  1
         Bismarck                1
         Bloomington             1
         Boardman                1
         Boca Raton              1
         Boise                   1
         Bonita Springs          1
         Bossier City            1
         Boston                  1
         Annapolis               1
         Altus                   1
SE       Stockholm               1
TT       Laventille              1
SG       Singapore               1
SI       Ljubljana               1
SN       Dakar                   1
         Kédougou                1
SV       Ilopango                1
         La Libertad             1
         San Salvador            1
         Soyapango               1
MM       Hinthada                1
TH       Chanthaburi             1
         Kamphaeng Phet          1
         Phetchabun              1
         Udon Thani              1
TT       Sangre Grande           1
US       Alpharetta              1
TT       Tunapuna                1
TW       Taipei                  1
         Taoyuan City            1
TZ       Arusha                  1
UG       Entebbe                 1
         Kampala                 1
US       Abilene                 1
         Akron                   1
         Alameda                 1
         Albuquerque             1
         Alexandria              1
         Alhambra                1
         Allentown               1
MM       Mandalay                1
KR       Seoul                   1
MH       Majuro                  1
CA       North Vancouver         1
         Winnipeg                1
         Toronto                 1
         Terrebonne              1
         Sydney                  1
         St. Catharines          1
         Québec                  1
         North Bay               1
CG       Brazzaville             1
CA       Montréal                1
         Calgary                 1
BZ       Belmopan                1
         Belize City             1
BS       Nassau                  1
BR       São Paulo               1
CD       Kinshasa                1
CH       Basel                   1
CO       Medellín                1
CN       Suzhou                  1
CO       Caucasia                1
         Bogotá                  1
         Bello                   1
         Barranquilla            1
CN       Yiwu                    1
         Wuhan                   1
         Shenzhen                1
CH       Genève                  1
CN       Huzhou                  1
         Guangzhou               1
         Dongguan                1
         Beijing                 1
CM       Yaoundé                 1
CH       Lausanne                1
BR       São José                1
         Santos                  1
         Salvador                1
AU       Townsville              1
BR       Belo Horizonte          1
BJ       Comé                    1
BE       Brussels                1
BD       Dhaka                   1
AZ       Ganja                   1
         Baku                    1
AU       Rockhampton             1
BR       Rio de Janeiro          1
AU       Canberra                1
         Bundaberg               1
         Brisbane                1
AR       Buenos Aires            1
AO       Luanda                  1
AM       Yerevan                 1
BR       Botucatu                1
         Brasília                1
         Camaçari                1
         Campinas                1
         Custódia                1
         Fortaleza               1
         Jacobina                1
         João Pessoa             1
         Limoeiro                1
         Manaus                  1
         Natal                   1
         Niterói                 1
         Olinda                  1
         Piracicaba              1
         Recife                  1
         Ribeirão Preto          1
         Rio Grande              1
CO       Cúcuta                  1
         San Onofre              1
MA       Tangier                 1
IL       Jerusalem               1
IN       Mumbai                  1
         Kozhikode               1
         Greater Noida           1
         Delhi                   1
         Chennai                 1
         Baud                    1
ID       Yogyakarta              1
IN       Puducherry              1
ID       Sengkang                1
         Pekanbaru               1
         Jakarta                 1
         Dumai                   1
HN       Tegucigalpa             1
HK       Hong Kong               1
IN       New Delhi               1
         Pune                    1
CO       Sincelejo               1
JP       Yokohama                1
US       Boynton Beach           1
KP       Pyongyang               1
KH       Phnom Penh              1
         Kampong Speu            1
         Kampong Cham            1
KE       Molo                    1
JP       Tokyo                   1
IN       Sūrat                   1
JP       Kobe                    1
         Fukushima               1
JM       New Kingston            1
IT       Cantù                   1
IR       Tehran                  1
IQ       Hīt                     1
GT       Guatemala City          1
GE       Tbilisi                 1
GB       Southampton             1
DE       Hamburg                 1
EC       Portoviejo              1
DO       Quisqueya               1
DK       Århus                   1
         Copenhagen              1
DE       Stuttgart               1
         Hilden                  1
         Duisburg                1
GB       Huddersfield            1
DE       Bonn                    1
         Berlin                  1
CZ       Pilsen                  1
CV       Praia                   1
CU       Havana                  1
CO       Villavicencio           1
EC       Quito                   1
         Santa Elena             1
EG       Aswan                   1
ES       Sevilla                 1
ET       Addis Ababa             1
FJ       Labasa                  1
         Nadi                    1
         Suva                    1
FR       Belfort                 1
         Fontainebleau           1
         Grenoble                1
         Lyon                    1
         Montpellier             1
         Strasbourg              1
GA       Libreville              1
GB       Glasgow                 1
         Halifax                 1
US       Boulder                 1
         Bridgeport              1
         Bradenton               1
ZM       Mpika                   1
US       San Benito              1
         San Antonio             1
         Salt Lake City          1
         Salem                   1
         Saint Charles           1
         Saginaw                 1
         Sacramento              1
         Rotterdam               1
         Ronkonkoma              1
         Rome                    1
         Rockville               1
         Rockland                1
         Riverside               1
         Richland                1
         Reno                    1
         San Bernardino          1
         San Diego               1
         San Francisco           1
         Savannah                1
         Shreveport              1
         Sevierville             1
         Seminole                1
         Seattle                 1
         Scranton                1
         Schenectady             1
         Sarasota                1
         San Juan                1
         Santa Rosa              1
         Santa Monica            1
         Santa Fe                1
         Santa Barbara           1
         San Luis                1
         San Juan Capistrano     1
         Redmond                 1
         Redlands                1
         Raleigh                 1
         Norfolk                 1
         Ogden                   1
         Northfield              1
         North Platte            1
         North Miami Beach       1
         North Miami             1
         North Bethesda          1
         Newburgh                1
         Ontario                 1
         Newark                  1
         New York City           1
         New Orleans             1
         New Milford             1
         New Bedford             1
         Nashville               1
         Omaha                   1
         Orlando                 1
         Racine                  1
         Phoenix                 1
         Providence              1
         Princeton               1
         Plant City              1
         Plainfield              1
         Pittsburgh              1
         Pinewood                1
         Philadelphia            1
         Ottawa                  1
         Pensacola               1
         Paris                   1
         Panama City             1
         Palo Alto               1
         Palm Beach Gardens      1
         Oxford                  1
         Silver Spring           1
         Simpsonville            1
         South Bend              1
         Westchester             1
         Yakima                  1
         Wisconsin Rapids        1
         Winter Park             1
         Winona                  1
         Windsor                 1
         Wichita Falls           1
         West Palm Beach         1
UY       Florida                 1
US       Weslaco                 1
         Waldorf                 1
         Wailuku                 1
         Waco                    1
         Vineland                1
         Vienna                  1
         Yuma                    1
UY       La Paz                  1
US       Ventura                 1
YE       Sanaa                   1
ZM       Kitwe                   1
ZA       Wellington              1
         Springs                 1
         Newcastle               1
         Margate                 1
         Bethlehem               1
VN       Nha Trang               1
UY       Montevideo              1
VN       Ho Chi Minh City        1
         Hanoi                   1
VI       Saint Croix             1
VE       San Mateo               1
         Caracas                 1
UY       Trinidad                1
US       Vero Beach              1
         Vancouver               1
         Sparks                  1
         Starkville              1
         Suffolk                 1
         Stratford               1
         Storrs                  1
         Stillwater              1
         Stephenville            1
         Staten Island           1
         Stamford                1
         Syracuse                1
         St. Petersburg          1
         St. Louis               1
         Springville             1
         Springfield             1
         Springdale              1
         Spokane                 1
         Summerville             1
         Tacoma                  1
         Valdosta                1
         Tulare                  1
         Urbana                  1
         University City         1
         University              1
         Union                   1
         Tupelo                  1
         Tulsa                   1
         Tucson                  1
         Tallahassee             1
         Trenton                 1
         Toms River              1
         Toledo                  1
         The Bronx               1
         Tampa                   1
         Tamarac                 1
         Nashua                  1
         Naples                  1
         Moscow                  1
         Easton                  1
         Evansville              1
         Escondido               1
         Erie                    1
         Ennis                   1
         Elyria                  1
         El Paso                 1
         East Moline             1
         Fargo                   1
         Durham                  1
         Durango                 1
         Duluth                  1
         Dublin                  1
         Doral                   1
         Detroit                 1
         Fairfax                 1
         Farmington              1
         Delray Beach            1
         Fort Worth              1
         Gainesville             1
         Frisco                  1
         Fresno                  1
         Fremont                 1
         Framingham              1
         Foster City             1
         Fort Pierce             1
         Fayetteville            1
         Fort Myers              1
         Fort Lauderdale         1
         Fort Hood               1
         Fort Collins            1
         Florence                1
         Flint                   1
         Denver                  1
         Deerfield               1
         Galveston               1
         Carlsbad                1
         Cincinnati              1
         Chula Vista             1
         Chicago                 1
         Chatham                 1
         Charlotte               1
         Carrollton              1
         Canton                  1
         Clovis                  1
         Bullhead City           1
         Brownsville             1
         Brooklyn                1
         Bristol                 1
         Brighton                1
         Bridgeton               1
         Cleveland               1
         Columbus                1
         Daytona Beach           1
         Damascus                1
         Dayton                  1
         Davenport               1
         Darien                  1
         Danville                1
         Danvers                 1
         Danbury                 1
         Dallas                  1
         Concord                 1
         Crawfordsville          1
         Cranford                1
         Corpus Christi          1
         Coronado                1
         Corona                  1
         Coral Gables            1
         Gaithersburg            1
         Germantown              1
         Morristown              1
         Lorain                  1
         Manassas                1
         Madison                 1
         Madera                  1
         Lubbock                 1
         Louisville              1
         Los Angeles             1
         Lima                    1
         Manhattan               1
         Lewisville              1
         Lemon Grove             1
         Leesburg                1
         Lawrenceville           1
         Las Vegas               1
         Laredo                  1
         Manchester              1
         Mankato                 1
         Lakewood                1
         Miami Beach             1
         Mobile                  1
         Missoula                1
         Minot                   1
         Milwaukee               1
         Milton                  1
         Milford                 1
         Meriden                 1
         Marquette               1
         Memphis                 1
         Medina                  1
         Medford                 1
         McLean                  1
         McAllen                 1
         Mattoon                 1
         Lansing                 1
         Lakeland                1
         Gladstone               1
         Hartford                1
         Howard Beach            1
         Houston                 1
         Henderson               1
         Hemet                   1
         Hayward                 1
         Hauppauge               1
         Harrisburg              1
         Huntsville              1
         Harlingen               1
         Hampton                 1
         Hammond                 1
         Hamilton                1
         Hallandale Beach        1
         Golden                  1
         Huntington              1
         Imperial                1
         Lafayette               1
         Kansas City             1
         La Jolla                1
         Kissimmee               1
         Kingston                1
         Key West                1
         Kent                    1
         Kensington              1

In [27]:
df.loc[df['city'] == "Jefferson"]

,headline,city,country,latitude,longitude
214,Syphilis Hits Jefferson,Jefferson,United States,38.86456,-77.18776
314,Mumps Symptoms Spread all over Jefferson,Jefferson,United States,38.86456,-77.18776